<%- include('includes/head.ejs') %>

<style>
    section{
        margin-top: 2em;
    }
    h1{
        margin-left: 1em;
        font-size: 76px;
        width: auto;
    }
    #primary{
        width: auto;
    }
    .btn-outline-success, .btn-outline-primary,  .btn-outline-secondary, .form-control{
        margin-top: 2.3em;
    }
    #alter{
        position: relative;
        right: 50px;
    }
    #progressBars{
        margin-left: 2em;
        padding-right: 55em;
    }
    #filter{
        color: #252525;
    }
</style>

<section id="primary">

    <div class="row row-cols-4">
        
        <div class="col">
            <h1>Epics</h1>
        </div>

        <div class="col">
            <container id="alter">
                <a class="btn btn-outline-success" type="button" href="/epics/import" id="create" style="margin-right: 10px;">
                    Crear
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
                <a class="btn btn-outline-primary" type="button" href="#" id="edit">
                    Editar
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                </a>
            </container>
        </div>

        <div>
            <form class="d-flex" role="search" id="searchbar">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        <div class="col">
            <a class="btn btn-outline-secondary" type="button" href="?" id="filter">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
                </svg>
            </a>
        </div>

</section>


<section id="progressBars">

    <br>

    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
        <div class="progress-bar bg-success" style="width: 25%"></div>
    </div>
    <br><br>

    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
        <div class="progress-bar bg-success" style="width: 56%"></div>
    </div>
    <br><br>

    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
        <div class="progress-bar bg-success" style="width: 34%"></div>
    </div>
    <br><br>

    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
        <div class="progress-bar bg-success" style="width: 79%"></div>
    </div>
    <br><br>

    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
        <div class="progress-bar bg-success" style="width: 100%"></div>
    </div>
    <br><br>

    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 40px">
        <div class="progress-bar bg-success" style="width: 7%"></div>
    </div>
    <br><br>

</section>

<%- include('includes/foot.ejs') %>