<%- include('includes/head.ejs') %>
    <br>

    <div>

      <!--Dentro de este div no se debe mover nada, está hecho para que automáticamente se acomode el despliegue dependiendo de
          como esté acomodada la ventana. Es un ajuste automático. Todo lo relacionado a los datos debe moverse en el js-->
          <button onclick="window.location.href='index.html'" class="btn btn-secondary float-right">Regresar</button>
          <div class="d-flex justify-content-between align-items-center px-4">
            <p class="mr-auto mb-0"><h1>Dashboard</h1></p></div>      
          <div class="d-flex justify-content-between align-items-center px-4">
                  <p class="mr-auto mb-0"><h2>Proyecto 1</h2></p>
                    <p class="mr-auto mb-0"><h2></h2></p>
                  <p class="ml-auto mb-0"><h4>
                    <figure>
                      <figcaption>Miembros del equipo</figcaption>
                    <img src="https://www.necesitomas.com/files/cuadrantealista03.png" alt="Descripción de la imagen">
                    
                  </figure>
                  </h4></p>
                </div>

                <div class="d-flex justify-content-between align-items-center px-5">
              </div>
              </div>

    </div>


    

    <%- include('includes/foot.ejs') %>