<%- include('includes/head.ejs') %>
    
    <section>
        <style>
            .form-control{
                width: 900px;
                height: auto;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        </style>
        <h1>Previsualización de Epic importado</h1>
        
    </section>

<%- include('includes/foot.ejs') %>