<%- include('includes/head.ejs') %>

        <div>
            La página que buscas no existe. Intenta ingresar a <strong>127.0.0.1:3000/inicio/</strong>
        </div>
    </body>
</html>

<%- include('includes/foot.ejs') %>