<%- include('includes/head.ejs') %>
    
    <section>
        <style>
            .form-control{
                width: 900px;
                height: 200px;
                justify-content: center;
                align-items: center;
                display: flex;
            }
        </style>
        <h1>Importa archivo</h1>
        <div class="row">
            <div class="col-md-2">
                <h1></h1>
            </div>
            <div class="col-md-8">
                <br><br><br><br>
                <form action="/epics/import" method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <label for="formFileMultiple" class="form-label">Inserta el archivo .csv a evaluar para generar el reporte.</label>
                    <br><br>
                    <input class="form-control" type="file" id="formFileMultiple" multiple />

                    <% if (mensaje !='' ) { %>
                        <div>
                            <%= mensaje %>
                        </div>
                    <% } %>

                    <br><br>
                        
                    <button class="btn btn-primary" type="submit">Importar</button>
                </form>
            </div>
            <div class="col-md-2">
    </section>

<%- include('includes/foot.ejs') %>