<%- include('includes/head.ejs') %>
    
    <section>
        <style>
            .form-control{
                width: 900px;
                height: auto;
                justify-content: center;
                align-items: center;
                display: flex;
            }
            .box{
                width: 900px;
                height: 900px;
                border: 1px solid black;
            }
        </style>
        <h1>Importa archivo</h1>
        <div class="row">
            <div class="col-md-2">
                <h1></h1>
            </div>
            <div class="col-md-8">
                <br><br><br><br>

                <div class="box">
                    <div class="container text-center">
                        <form action="/epics/import" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <label for="formFileMultiple" class="form-label"><strong>Ingresa el archivo .csv para generar un epic.</strong></label>
                            <br><br>
                            <input class="form-control form-control-lg" type="file" id="csvUploaded" name="csvUploaded"/>
                            <br>
        
                            <% if (mensaje !='' ) { %>
                                <div>
                                    <%= mensaje %>
                                </div>
                            <% } %>
                    </div>
                </div>

                    <br><br>
                        
                    <button class="btn btn-primary" type="submit">Importar</button>
                </form>
            </div>
            <div class="col-md-2">
    </section>

<%- include('includes/foot.ejs') %>