<%- include('includes/head.ejs') %>

    <section>

        <form action="/epics/import" method="POST">
            <label for="formFileMultiple" class="form-label">Multiple files input example</label>
            <input class="form-control" type="file" id="formFileMultiple" multiple />
        </form>

        <button class="btn btn-primary" type="submit">Importar</button>

    </section>

<%- include('includes/foot.ejs') %>