.nav-item, img{
    margin-left: 1.5rem;
    margin-right: 1rem;
    font-size: 24px;
}

.bi-person-fill{
    color: #252525;
    margin-right: 1em;
}

#importbtn{
    margin-top: 10px;
    position: absolute;
    right: 0;
    padding-right: 120px;
}

#usericon{
    position: absolute;
    right: 0;
}

@media(max-width: 991px){
    #importbtn, #usericon{
      display: none;
    }
}