<%- include('includes/head.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Error</title>
</head>
<body>
    <section>
        <br><br><br>
        <div class="d-flex align-items-center justify-content-center vh-50">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
    
                <p class="fs-3"> <span class="text-danger">Oops!</span> Página no disponible.</p>
    
                <p class="lead">
                    La página que estás buscando no existe o no se encuentra disponible.
                </p>
    
                <div class="alert alert-info" role="alert">
                    Intenta más tarde o dirígete a Inicio
                </div>
    
                <br>
    
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-primary btn-lg" type="button" href="../inicio">Inicio</a>
                </div>
        </div>
    </section>

<%- include('includes/foot.ejs') %>