<%- include('includes/head.ejs') %>

<section>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nisi adipisci explicabo debitis consectetur quas rem porro amet optio excepturi accusantium tempora error facere, quo aut est dicta sint provident.</p>
</section>

<%- include('includes/foot.ejs') %>