<%- include('includes/head.ejs') %>
    <style>
        h1{
            margin-top: 0.4em;
            margin-left: 1em;
            font-size: 58px;
        }
        #content {
            width: 50%;
            margin-left: 25%;
        }
    </style>

<br>
<section id="title">
    <div>
        <h1 class="fw-light">Users Registered</h1>
    </div>
</section>
<br>
<section id="content">
    <% for (let user of users) { %>
        <div class="row g-2">
            <div class="col-md">
                <form class="form-floating">
                    <input type="email" class="form-control" id="floatingInputValue" value="<%=user.user_Name%>" disabled>
                    <label for="floatingInputValue">Name:</label>
                </form>
            </div>
            <div class="col-md">
                <form class="form-floating">
                    <input type="email" class="form-control" id="floatingInputValue" value="<%=user.user_Mail%>" disabled>
                    <label for="floatingInputValue">Email:</label>
                </form>
            </div>
        </div>
        <br>
    <% } %>
</section>

<%- include('includes/foot.ejs') %>